<style></style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/images/03837284.jpeg');"><span class="b-data__caption">Uprchlíci z Mosulu | <a href='https://www.irozhlas.cz/admin/zpravy/media/image/5508424/'>iRozhlas</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Kvóty zatím nefungují, země přijaly jen osminu plánovaných azylantů. Podívejte se, kam by sami chtěli</strong><br>
		<small></small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Jan Boček</a>
	<span class="meta__separator">|</span>
	<time>19. června 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p><strong>Před dvěma roky schválila Evropská unie pravidla, jimiž během migrační krize chtěla odlehčit nejhůř postiženým zemím - Řecku a Itálii. Místo 160 tisíc běženců si ovšem ostatní členové osmadvacítky dosud převzaly jen 20 tisíc. Desítka zemí pak nepřijala žádné nebo téměř žádné.</strong></p>
<p>Evropská komise od úterý minulého šetří Česko, které odmítá přijímat azylanty ze Středomoří. Od spuštění systému Češi přijali místo 2691, které určují kvóty, jen dvanáct lidí.</p>
<p>„Jsme připraveni hájit pozici ČR, doufám, že ji obhájíme,“ řekl k tomu předseda vlády Bohuslav Sobotka. „Systém přerozdělování je pobídka pro nelegální migraci,“ dodal.</p>
<p>Stejné šetření se týká také Polska a Maďarska. Podle <a href="https://ec.europa.eu/home-affairs/sites/homeaffairs/files/what-we-do/policies/european-agenda-migration/press-material/docs/state_of_play_-_relocation_en.pdf">aktuálních statistik Evropské komise</a> je ovšem zemí, které se kvótám brání, víc. Žádné nebo téměř žádné azylanty dosud nepřijaly kromě Česka, Maďarska a Polska také Bulharsko, Chorvatsko, Rakousko a Slovensko.</p>
<p>Další dvě země – Spojené království a Dánsko – kvóty odmítly na základě výjimek, které si s unií vyjednaly v minulosti. Obě země se nicméně zavázaly přijmout řádově tisíce středomořských azylantů mimo systém kvót.</p>
<p></div><div class="row-main row-main--article"><div id="kvoty"></div></div><div class="row-main row-main--narrow"></p>
<h2>Česko, Polsko, Maďarsko: tři cesty za hranu</h2>

<p>„Česko, Polsko a Maďarsko jsou země, kde ohledně kvót dochází k evidentnímu porušování evropských pravidel,“ vysvětluje ředitel Organizace pro pomoc uprchlíkům Martin Rozumek, proč se Evropská unie zaměřila právě na ně. „Ostatní se přijímání azylantů nebrání nebo už pro ně něco dělají. Třeba Rakousko přijalo v roce 2015 nejvíc azylantů na jednoho obyvatele z celé Evropy. Slovensko zase provozuje tranzitní centrum, přes nějž míří uprchlíci dál do Evropy.“</p>
<p>Každá ze tří šetřených zemí se za hranu dostala jinou cestou. Češi sice kvóty vytrvale odmítají už od prvního hlasování v Radě ministrů, nicméně v roce 2015 slíbili dobrovolně přijmout patnáct set azylantů na základě <a href="http://www.mvcr.cz/migrace/clanek/migrace-casto-kladene-dotazy-casto-kladene-dotazy.aspx?q=Y2hudW09Mw%3D%3D">vlastních kritérií</a>. Vláda ale neplní ani svůj závazek.</p>
<p>Poláci nejprve hlasovali pro přijetí kvót. Krátce nato ovšem v zemi převzala moc konzervativní vláda premiérky Beaty Szydłové, která kvóty naopak rázně odmítla.</p>
<p>Třetí prošetřovaná země - Maďarsko - původně neměla středomořské azylanty přijímat vůbec. Naopak, jelikož na ně dopadla uprchlická vlna podobně jako na Řecko a Itálii, měli Maďaři azylanty posílat do ostatních evropských zemí. Plán, kdy by z Maďarska odešlo přes 50 000 azylantů, ale vláda odmítla. „Podle nás bude nemožné udržet dejme tomu na Slovensku lidi, kteří chtějí do Německa,“ opakovala tehdy vláda premiéra Viktora Orbána nejčastější argument proti kvótám.</p>
<p>„Maďarsko problém s azylanty vyřešilo po svém,“ vysvětluje Rozumek. „Unijní pravidla vláda odmítla. Azylantům pak připravila tak šílené podmínky, že zemi opustili. Tím ovšem problém pouze nezákonně přehodila na ty země, kam se uprchlíci přesunuli.“</p>
<p>Ještě v roce 2015 Maďaři napadli systém kvót u Soudního dvora Evropské unie (výsledek se očekává na konci letošního roku) a loni o nich uspořádali referendum. V něm sice jednoznačně zvítězili odpůrci kvót, ale kvůli malé účasti nebylo platné.</p>
<h2>Vlády si diktují</h2>

<p>Ani státům, které azylanty přijímají, se ale nedaří kvóty naplnit. 'Odškrtnuto' mají pouze Malta a Lichtenštejnsko, z lidnatějších zemí jsou na dobré cestě Finsko a Norsko, které se ke kvótám připojilo, ačkoliv není členem EU.</p>
<p>„Množství těch, kteří jsou v Řecku nebo Itálii připraveni na přesun, je mnohem nižší než původní cíle,“ řekl v dubnu novinářům eurokomisař pro migraci Dimitris Avramopoulos. Hlavní problém je podle něj v tom, že řecké a italské úřady nejsou schopné azylanty dostatečně rychle identifikovat a vyloučit bezpečnostní riziko.</p>
<p>Jak líčí britský EUobserver, každá země má navíc specifické požadavky. „Bulharsko například nepřijme nikoho z Eritreje,“ píše. „Slovensko přijímá jen samotné ženy s dětmi a s cestovními doklady, Estonsko a Irsko nepřijmou nikoho z Itálie.“</p>
<p>„Je pravda, že podmínky, které si některé země kladou, můžou přejímání azylantů zpomalit,“ tvrdí Martin Rozumek z Organizace pro pomoc uprchlíkům. „Ale pokud takové podmínky myslí upřímně, je to v pořádku. V Kanadě přijali 30 tisíc Syřanů s tím, že půjde o kompletní rodiny. Česko by stejně tak mohlo přijmout třeba několik stovek opuštěných dětí, které zjevně nejsou bezpečnostním rizikem. Problém je, že řada zemí si stanoví podmínky jen jako záminku, aby nemusely přijmout nikoho.“</p>
<h2>Roky 2015 a 2016 byly rekordní: přes milion azylantů každý rok</h2>

<p>Kvóty řeší pouze menší část azylantů; podle <a href="http://popstats.unhcr.org/en/asylum_seekers_monthly">dat Agentury OSN pro uprchlíky</a> zamířilo v roce 2015 do Evropské unie 1,3 milionu azylantů, o rok později 1,2 milionu. Z toho přibližně polovina se žádostí o azyl uspěla. Některé země – například Německo – zažily srovnatelnou vlnu na začátku devadesátých let, kdy před válkou do unie prchaly oběti války v zemích bývalé Jugoslávie.</p>
<p>Přesto jde z pohledu Evropy o rekordní roky: v roce 1992, kdy byla vlna balkánských uprchlíků nejsilnější, zamířila do zemí unie přibližně polovina azylantů, co loni.</p>
<p>Stejná data ukazují také to, koho jednotlivé evropské země přitahují. V Německu nebo Švédsku například žádají o azyl nejčastěji Syřané, Iráčané a Afghánci, v Itálii jsou to Nigerijci a ve Francii uprchlíci z řady afrických zemí v čele s Kongem.
</div><div class="row-main row-main--article">
<div id="selector" onchange="checkSelect()">
    <select id="vyberZeme">
        <option value="belgie">Belgie</option>
        <option value="bulharsko">Bulharsko</option>
        <option value="cesko" selected="selected">Česko</option>
        <option value="dansko">Dánsko</option>
        <option value="finsko">Finsko</option>
        <option value="francie">Francie</option>
        <option value="irsko">Irsko</option>
        <option value="italie">Itálie</option>
        <option value="kypr">Kypr</option>
        <option value="lucembursko">Lucembursko</option>
        <option value="madarsko">Maďarsko</option>
        <option value="malta">Malta</option>
        <option value="nemecko">Německo</option>
        <option value="nizozemsko">Nizozemsko</option>
        <option value="norsko">Norsko</option>
        <option value="polsko">Polsko</option>
        <option value="rakousko">Rakousko</option>
        <option value="rumunsko">Rumunsko</option>
        <option value="recko">Řecko</option>
        <option value="slovensko">Slovensko</option>
        <option value="slovinsko">Slovinsko</option>
        <option value="uk">Spojené království</option>
        <option value="srbsko">Srbsko a Kosovo</option>
        <option value="spanelsko">Španělsko</option>
        <option value="svedsko">Švédsko</option>
        <option value="svycarsko">Švýcarsko</option>
    </select>
</div></p>
<div id="container" style="height: 600px;"></div>

<p><i>Graf ukazuje země EU, které od roku 1999 registrovaly nejméně 10 tisíc azylantů</i>
</div><div class="row-main row-main--narrow"></p>

</div>
</div><script>var kv_colors=['#FF4136','#0074D9','#B10DC9','#3D9970','#FF851B','#FFDC00','#001F3F','#2ECC40']
var kv_data=[{"zeme":"Německo","kvota":27536,"prijato":5658,"pomer":20.5},{"zeme":"Francie","kvota":19714,"prijato":3478,"pomer":17.6},{"zeme":"Španělsko","kvota":9323,"prijato":886,"pomer":9.5},{"zeme":"Polsko","kvota":6182,"prijato":0,"pomer":0.0},{"zeme":"Nizozemsko","kvota":5947,"prijato":1908,"pomer":32.1},{"zeme":"Rumunsko","kvota":4180,"prijato":634,"pomer":15.2},{"zeme":"Belgie","kvota":3812,"prijato":623,"pomer":16.3},{"zeme":"Švédsko","kvota":3766,"prijato":228,"pomer":6.1},{"zeme":"Portugalsko","kvota":2951,"prijato":1373,"pomer":46.5},{"zeme":"Česko","kvota":2691,"prijato":12,"pomer":0.4},{"zeme":"Finsko","kvota":2078,"prijato":1594,"pomer":76.7},{"zeme":"Rakousko","kvota":1953,"prijato":0,"pomer":0.0},{"zeme":"Norsko","kvota":1500,"prijato":1345,"pomer":89.7},{"zeme":"Švýcarsko","kvota":1460,"prijato":993,"pomer":68.0},{"zeme":"Bulharsko","kvota":1302,"prijato":47,"pomer":3.6},{"zeme":"Maďarsko","kvota":1294,"prijato":0,"pomer":0.0},{"zeme":"Chorvatsko","kvota":968,"prijato":54,"pomer":5.6},{"zeme":"Slovensko","kvota":902,"prijato":16,"pomer":1.8},{"zeme":"Litva","kvota":671,"prijato":307,"pomer":45.8},{"zeme":"Irsko","kvota":600,"prijato":459,"pomer":76.5},{"zeme":"Slovinsko","kvota":567,"prijato":199,"pomer":35.1},{"zeme":"Lucembursko","kvota":557,"prijato":326,"pomer":58.5},{"zeme":"Lotyšsko","kvota":481,"prijato":317,"pomer":65.9},{"zeme":"Estonsko","kvota":329,"prijato":130,"pomer":39.5},{"zeme":"Kypr","kvota":320,"prijato":89,"pomer":27.8},{"zeme":"Malta","kvota":131,"prijato":137,"pomer":104.6},{"zeme":"Lichtenštejnsko","kvota":10,"prijato":10,"pomer":100.0}]
var kv_zeme=kv_data.map(function(d){return d['zeme'];});var kv_kvota=kv_data.map(function(d){return d['kvota'];});var kv_prijato=kv_data.map(function(d){return d['prijato'];});$(function(){Highcharts.setOptions({lang:{months:['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],weekdays:['neděle','pondělí','úterý','středa','čtvrtek','pátek','sobota'],shortMonths:['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],thousandsSep:'',decimalPoint:',',rangeSelectorZoom:'Zobrazit'}});$(function(){$('#kvoty').highcharts({chart:{type:'column'},title:{text:'Naplňování azylových kvót'},subtitle:{text:'Kvóty pro azylanty nejpoctivěji plní Finsko, Norsko, Irsko a Malta'},xAxis:{categories:kv_zeme,},yAxis:{min:0,title:{text:'Azylanti z Řecka nebo Itálie',}},tooltip:{formatter:function(){var thisObject=this.x;var kv_kvota=kv_data.filter(function(d){return d.zeme==thisObject;})[0].kvota
var kv_prijato=kv_data.filter(function(d){return d.zeme==thisObject;})[0].prijato
var kv_procenta=kv_data.filter(function(d){return d.zeme==thisObject;})[0].pomer
return'<b>'+this.x+'</b>: kvóta '+kv_kvota+', přijato '+kv_prijato+' <b>('+kv_procenta+' %)</b>'},crosshairs:true},exporting:{enabled:false},credits:{href:'https://ec.europa.eu/home-affairs/sites/homeaffairs/files/what-we-do/policies/european-agenda-migration/press-material/docs/state_of_play_-_relocation_en.pdf',text:'Zdroj: Evropská komise'},plotOptions:{},series:[{name:'kvóta',data:kv_kvota,color:kv_colors[4]},{name:'dosud přijatí',data:kv_prijato,color:kv_colors[3]}]});var chart=$('#kvoty').highcharts();chart.series[0].data[9].update({color:'#851bff'});})});var colors=['#a6cee3','#1f78b4','#b2df8a','#33a02c','#fb9a99','#e31a1c','#fdbf6f','#ff7f00','#cab2d6','#999999']
var data=[{"cil":"Německo","puvod":"Sýrie","1999":2193,"2000":2721,"2001":2308,"2002":1842,"2003":1188,"2004":776,"2005":878,"2006":608,"2007":604,"2008":744,"2009":819,"2010":1490,"2011":2634,"2012":6201,"2013":11851,"2014":39332,"2015":158657,"2016":266248},{"cil":"Německo","puvod":"Irák","1999":8830,"2000":11721,"2001":17357,"2002":10367,"2003":3895,"2004":1290,"2005":1895,"2006":2065,"2007":4171,"2008":6697,"2009":6538,"2010":5555,"2011":5831,"2012":5352,"2013":3958,"2014":5345,"2015":29784,"2016":96115},{"cil":"Německo","puvod":"Afghánistán","1999":4500,"2000":5399,"2001":5853,"2002":2779,"2003":1467,"2004":912,"2005":685,"2006":525,"2007":329,"2008":650,"2009":3375,"2010":5905,"2011":7767,"2012":7498,"2013":7735,"2014":9115,"2015":31382,"2016":127011},{"cil":"Německo","puvod":"Srbsko a Kosovo","1999":31826,"2000":11274,"2001":7842,"2002":6682,"2003":4866,"2004":3878,"2005":4818,"2006":3107,"2007":1871,"2008":1511,"2009":1981,"2010":6546,"2011":5974,"2012":10383,"2013":14853,"2014":24080,"2015":50127,"2016":11376},{"cil":"Německo","puvod":"Albánie","1999":568,"2000":314,"2001":333,"2002":366,"2003":252,"2004":155,"2005":114,"2006":111,"2007":70,"2008":61,"2009":49,"2010":39,"2011":78,"2012":232,"2013":1247,"2014":7865,"2015":53805,"2016":14853},{"cil":"Německo","puvod":"Turecko","1999":9094,"2000":8970,"2001":10887,"2002":9569,"2003":6235,"2004":4136,"2005":2767,"2006":1891,"2007":1368,"2008":1320,"2009":1429,"2010":1340,"2011":1578,"2012":1457,"2013":1521,"2014":1565,"2015":1500,"2016":5383},{"cil":"Německo","puvod":"Irán","1999":3405,"2000":4886,"2001":3450,"2002":2643,"2003":2053,"2004":1374,"2005":916,"2006":609,"2007":616,"2008":804,"2009":1170,"2010":2475,"2011":3352,"2012":4348,"2013":4424,"2014":3194,"2015":5394,"2016":26426},{"cil":"Německo","puvod":"Rusko","1999":2079,"2000":2755,"2001":4543,"2002":4077,"2003":3389,"2004":2767,"2005":1663,"2006":1038,"2007":752,"2008":768,"2009":936,"2010":1199,"2011":1689,"2012":3202,"2013":14887,"2014":4411,"2015":5257,"2016":10985},{"cil":"Německo","puvod":"Eritrea","1999":275,"2000":240,"2001":294,"2002":377,"2003":550,"2004":453,"2005":347,"2006":278,"2007":335,"2008":247,"2009":346,"2010":642,"2011":632,"2012":650,"2013":3616,"2014":13198,"2015":10876,"2016":18854},{"cil":"Německo","puvod":"ostatní","1999":32561,"2000":30484,"2001":35496,"2002":32342,"2003":26550,"2004":19872,"2005":13127,"2006":10381,"2007":8417,"2008":8569,"2009":11006,"2010":16141,"2011":16206,"2012":25216,"2013":45488,"2014":64967,"2015":94582,"2016":144527},{"cil":"Česko","puvod":"Ukrajina","1999":93,"2000":1145,"2001":4398,"2002":1658,"2003":2043,"2004":1599,"2005":988,"2006":571,"2007":293,"2008":328,"2009":202,"2010":64,"2011":101,"2012":101,"2013":68,"2014":420,"2015":574,"2016":356},{"cil":"Česko","puvod":"Rusko","1999":244,"2000":620,"2001":640,"2002":671,"2003":4852,"2004":1499,"2005":260,"2006":170,"2007":99,"2008":80,"2009":57,"2010":36,"2011":25,"2012":29,"2013":40,"2014":27,"2015":12,"2016":35},{"cil":"Česko","puvod":"Vietnam","1999":34,"2000":585,"2001":1521,"2002":885,"2003":566,"2004":362,"2005":208,"2006":124,"2007":100,"2008":107,"2009":63,"2010":26,"2011":27,"2012":35,"2013":37,"2014":49,"2015":37,"2016":32},{"cil":"Česko","puvod":"Moldávie","1999":97,"2000":780,"2001":2454,"2002":729,"2003":191,"2004":94,"2005":59,"2006":29,"2007":31,"2008":16,"2009":20,"2010":4,"2011":7,"2012":6,"2013":10,"2014":7,"2015":0,"2016":0},{"cil":"Česko","puvod":"Afghánistán","1999":2312,"2000":1117,"2001":356,"2002":26,"2003":50,"2004":15,"2005":2,"2006":1,"2007":21,"2008":28,"2009":4,"2010":6,"2011":25,"2012":10,"2013":8,"2014":13,"2015":6,"2016":28},{"cil":"Česko","puvod":"Slovensko","1999":13,"2000":721,"2001":387,"2002":822,"2003":1055,"2004":137,"2005":711,"2006":15,"2007":3,"2008":2,"2009":3,"2010":5,"2011":1,"2012":5,"2013":6,"2014":6,"2015":0,"2016":0},{"cil":"Česko","puvod":"Indie","1999":886,"2000":647,"2001":1304,"2002":346,"2003":168,"2004":47,"2005":342,"2006":55,"2007":19,"2008":7,"2009":3,"2010":0,"2011":4,"2012":0,"2013":1,"2014":1,"2015":0,"2016":0},{"cil":"Česko","puvod":"Čína","1999":202,"2000":259,"2001":317,"2002":499,"2003":853,"2004":325,"2005":287,"2006":114,"2007":38,"2008":32,"2009":17,"2010":6,"2011":3,"2012":3,"2013":5,"2014":7,"2015":29,"2016":56},{"cil":"Česko","puvod":"Gruzie","1999":9,"2000":102,"2001":1288,"2002":641,"2003":320,"2004":200,"2005":52,"2006":41,"2007":45,"2008":39,"2009":33,"2010":5,"2011":6,"2012":6,"2013":12,"2014":14,"2015":5,"2016":32},{"cil":"Česko","puvod":"ostatní","1999":3324,"2000":2793,"2001":5372,"2002":2158,"2003":1296,"2004":1182,"2005":1112,"2006":1896,"2007":1229,"2008":1051,"2009":856,"2010":333,"2011":293,"2012":322,"2013":316,"2014":378,"2015":283,"2016":360},{"cil":"Rakousko","puvod":"Afghánistán","1999":2209,"2000":4205,"2001":12957,"2002":4322,"2003":2359,"2004":757,"2005":928,"2006":699,"2007":761,"2008":1382,"2009":2237,"2010":1582,"2011":3623,"2012":4003,"2013":2589,"2014":4916,"2015":25143,"2016":11506},{"cil":"Rakousko","puvod":"Rusko","1999":125,"2000":291,"2001":373,"2002":2223,"2003":6715,"2004":6185,"2005":4362,"2006":2441,"2007":2676,"2008":3435,"2009":3559,"2010":2322,"2011":2319,"2012":3098,"2013":2841,"2014":1484,"2015":1340,"2016":1235},{"cil":"Rakousko","puvod":"Sýrie","1999":229,"2000":161,"2001":133,"2002":132,"2003":143,"2004":134,"2005":78,"2006":88,"2007":166,"2008":140,"2009":279,"2010":194,"2011":423,"2012":922,"2013":1991,"2014":7661,"2015":24314,"2016":8723},{"cil":"Rakousko","puvod":"Srbsko a Kosovo","1999":6840,"2000":1486,"2001":1653,"2002":4729,"2003":2518,"2004":2841,"2005":4409,"2006":2515,"2007":1760,"2008":1702,"2009":2033,"2010":972,"2011":541,"2012":606,"2013":1146,"2014":2046,"2015":2305,"2016":null},{"cil":"Rakousko","puvod":"Irák","1999":2014,"2000":2361,"2001":2115,"2002":4473,"2003":1433,"2004":231,"2005":221,"2006":380,"2007":472,"2008":490,"2009":399,"2010":336,"2011":484,"2012":491,"2013":468,"2014":1051,"2015":13285,"2016":2737},{"cil":"Rakousko","puvod":"Indie","1999":874,"2000":2441,"2001":1803,"2002":3366,"2003":2823,"2004":1842,"2005":1530,"2006":479,"2007":385,"2008":355,"2009":427,"2010":433,"2011":463,"2012":401,"2013":339,"2014":266,"2015":371,"2016":407},{"cil":"Rakousko","puvod":"Írán","1999":3343,"2000":2559,"2001":730,"2002":711,"2003":981,"2004":347,"2005":306,"2006":274,"2007":248,"2008":250,"2009":340,"2010":387,"2011":457,"2012":761,"2013":595,"2014":726,"2015":3381,"2016":2415},{"cil":"Rakousko","puvod":"Turecko","1999":337,"2000":592,"2001":1876,"2002":3563,"2003":2839,"2004":1111,"2005":1067,"2006":668,"2007":659,"2008":417,"2009":554,"2010":369,"2011":414,"2012":273,"2013":302,"2014":163,"2015":null,"2016":312},{"cil":"Rakousko","puvod":"Nigérie","1999":268,"2000":390,"2001":1038,"2002":1431,"2003":1845,"2004":1825,"2005":881,"2006":421,"2007":394,"2008":535,"2009":837,"2010":573,"2011":411,"2012":400,"2013":691,"2014":544,"2015":1245,"2016":1659},{"cil":"Rakousko","puvod":"ostatní","1999":3891,"2000":3798,"2001":7457,"2002":12033,"2003":10686,"2004":9403,"2005":8689,"2006":5384,"2007":4400,"2008":4135,"2009":5156,"2010":3844,"2011":5291,"2012":6460,"2013":6541,"2014":6845,"2015":14233,"2016":10958},{"cil":"Belgie","puvod":"Srbsko a Kosovo","1999":13066,"2000":4921,"2001":1932,"2002":1523,"2003":1280,"2004":1294,"2005":1203,"2006":778,"2007":1219,"2008":1050,"2009":2808,"2010":4545,"2011":3067,"2012":995,"2013":747,"2014":526,"2015":647,"2016":315},{"cil":"Belgie","puvod":"Rusko","1999":1376,"2000":3594,"2001":2451,"2002":1156,"2003":1680,"2004":1361,"2005":1438,"2006":1582,"2007":1436,"2008":1615,"2009":2158,"2010":1141,"2011":1747,"2012":1190,"2013":791,"2014":536,"2015":535,"2016":410},{"cil":"Belgie","puvod":"Afghánistán","1999":401,"2000":861,"2001":504,"2002":326,"2003":329,"2004":287,"2005":253,"2006":365,"2007":696,"2008":879,"2009":1228,"2010":1124,"2011":2773,"2012":2349,"2013":892,"2014":744,"2015":7562,"2016":2227},{"cil":"Belgie","puvod":"Irák","1999":293,"2000":569,"2001":368,"2002":461,"2003":282,"2004":388,"2005":903,"2006":695,"2007":825,"2008":1070,"2009":1066,"2010":1637,"2011":2004,"2012":636,"2013":295,"2014":965,"2015":9180,"2016":759},{"cil":"Belgie","puvod":"Sýrie","1999":116,"2000":292,"2001":230,"2002":199,"2003":210,"2004":182,"2005":228,"2006":167,"2007":199,"2008":281,"2009":335,"2010":302,"2011":494,"2012":798,"2013":944,"2014":2524,"2015":10185,"2016":2612},{"cil":"Belgie","puvod":"DR Kongo","1999":1402,"2000":1421,"2001":1371,"2002":1789,"2003":1778,"2004":1471,"2005":1272,"2006":843,"2007":716,"2008":579,"2009":713,"2010":813,"2011":1084,"2012":1392,"2013":1166,"2014":632,"2015":620,"2016":503},{"cil":"Belgie","puvod":"Guinea","1999":342,"2000":488,"2001":494,"2002":515,"2003":354,"2004":565,"2005":643,"2006":413,"2007":526,"2008":661,"2009":1112,"2010":1455,"2011":2046,"2012":1370,"2013":1023,"2014":657,"2015":619,"2016":721},{"cil":"Belgie","puvod":"Írán","1999":165,"2000":3183,"2001":1164,"2002":743,"2003":1153,"2004":512,"2005":497,"2006":631,"2007":411,"2008":614,"2009":265,"2010":261,"2011":367,"2012":347,"2013":210,"2014":170,"2015":443,"2016":253},{"cil":"Belgie","puvod":"Albánie","1999":1010,"2000":2674,"2001":763,"2002":539,"2003":340,"2004":255,"2005":167,"2006":125,"2007":193,"2008":172,"2009":265,"2010":208,"2011":1152,"2012":607,"2013":472,"2014":487,"2015":599,"2016":649},{"cil":"Belgie","puvod":"ostatní","1999":17606,"2000":24688,"2001":15272,"2002":11554,"2003":9534,"2004":9043,"2005":9353,"2006":5988,"2007":4894,"2008":5331,"2009":7281,"2010":10263,"2011":11250,"2012":8842,"2013":5963,"2014":6631,"2015":7581,"2016":5539},{"cil":"Bulharsko","puvod":"Afghánistán","1999":277,"2000":675,"2001":1081,"2002":864,"2003":525,"2004":426,"2005":385,"2006":277,"2007":77,"2008":55,"2009":58,"2010":58,"2011":80,"2012":95,"2013":304,"2014":2949,"2015":6163,"2016":8613},{"cil":"Bulharsko","puvod":"Sýrie","1999":4,"2000":16,"2001":23,"2002":3,"2003":9,"2004":21,"2005":15,"2006":10,"2007":15,"2008":20,"2009":30,"2010":52,"2011":67,"2012":436,"2013":4447,"2014":6202,"2015":5950,"2016":2563},{"cil":"Bulharsko","puvod":"Irák","1999":197,"2000":300,"2001":720,"2002":946,"2003":211,"2004":47,"2005":50,"2006":67,"2007":533,"2008":350,"2009":307,"2010":452,"2011":307,"2012":283,"2013":207,"2014":507,"2015":6910,"2016":5214},{"cil":"Bulharsko","puvod":"Pákistán","1999":25,"2000":36,"2001":1,"2002":13,"2003":17,"2004":16,"2005":45,"2006":5,"2007":3,"2008":1,"2009":8,"2010":17,"2011":26,"2012":26,"2013":22,"2014":175,"2015":568,"2016":1773},{"cil":"Bulharsko","puvod":"Arménie","1999":142,"2000":418,"2001":160,"2002":364,"2003":196,"2004":86,"2005":60,"2006":58,"2007":64,"2008":70,"2009":39,"2010":62,"2011":7,"2012":2,"2013":5,"2014":2,"2015":0,"2016":0},{"cil":"Bulharsko","puvod":"Írán","1999":63,"2000":47,"2001":139,"2002":142,"2003":97,"2004":45,"2005":19,"2006":25,"2007":33,"2008":19,"2009":50,"2010":61,"2011":26,"2012":28,"2013":59,"2014":106,"2015":165,"2016":427},{"cil":"Bulharsko","puvod":"Alžírsko","1999":23,"2000":13,"2001":11,"2002":9,"2003":155,"2004":46,"2005":7,"2006":5,"2007":6,"2008":6,"2009":33,"2010":35,"2011":21,"2012":70,"2013":433,"2014":153,"2015":0,"2016":0},{"cil":"Bulharsko","puvod":"Nigérie","1999":23,"2000":4,"2001":22,"2002":169,"2003":94,"2004":82,"2005":9,"2006":9,"2007":18,"2008":18,"2009":15,"2010":9,"2011":4,"2012":2,"2013":6,"2014":12,"2015":0,"2016":0},{"cil":"Bulharsko","puvod":"Srbsko a Kosovo","1999":446,"2000":2,"2001":13,"2002":1,"2003":3,"2004":null,"2005":7,"2006":5,"2007":4,"2008":2,"2009":2,"2010":2,"2011":1,"2012":1,"2013":null,"2014":null,"2015":null,"2016":null},{"cil":"Bulharsko","puvod":"ostatní","1999":149,"2000":244,"2001":257,"2002":377,"2003":242,"2004":358,"2005":225,"2006":106,"2007":222,"2008":205,"2009":311,"2010":277,"2011":166,"2012":286,"2013":1496,"2014":682,"2015":257,"2016":147},{"cil":"Dánsko","puvod":"Sýrie","1999":38,"2000":55,"2001":97,"2002":30,"2003":56,"2004":56,"2005":46,"2006":55,"2007":74,"2008":105,"2009":383,"2010":821,"2011":428,"2012":907,"2013":1702,"2014":7185,"2015":8604,"2016":1251},{"cil":"Dánsko","puvod":"Afghánistán","1999":533,"2000":1328,"2001":2667,"2002":1132,"2003":653,"2004":285,"2005":173,"2006":122,"2007":144,"2008":418,"2009":1059,"2010":1476,"2011":903,"2012":576,"2013":425,"2014":321,"2015":2288,"2016":1122},{"cil":"Dánsko","puvod":"Irák","1999":1803,"2000":2458,"2001":2689,"2002":1032,"2003":438,"2004":217,"2005":264,"2006":507,"2007":700,"2008":543,"2009":309,"2010":237,"2011":115,"2012":133,"2013":115,"2014":150,"2015":1531,"2016":449},{"cil":"Dánsko","puvod":"Srbsko a Kosovo","1999":868,"2000":1544,"2001":1164,"2002":1015,"2003":743,"2004":778,"2005":375,"2006":246,"2007":92,"2008":118,"2009":275,"2010":402,"2011":325,"2012":689,"2013":551,"2014":180,"2015":196,"2016":85},{"cil":"Dánsko","puvod":"Írán","1999":184,"2000":378,"2001":326,"2002":179,"2003":159,"2004":140,"2005":123,"2006":89,"2007":109,"2008":196,"2009":334,"2010":597,"2011":461,"2012":548,"2013":374,"2014":285,"2015":2771,"2016":299},{"cil":"Dánsko","puvod":"Somálsko","1999":483,"2000":727,"2001":695,"2002":373,"2003":373,"2004":154,"2005":80,"2006":57,"2007":35,"2008":58,"2009":179,"2010":110,"2011":107,"2012":914,"2013":964,"2014":688,"2015":259,"2016":262},{"cil":"Dánsko","puvod":"Rusko","1999":74,"2000":247,"2001":304,"2002":197,"2003":269,"2004":163,"2005":119,"2006":61,"2007":115,"2008":183,"2009":341,"2010":340,"2011":304,"2012":521,"2013":983,"2014":526,"2015":175,"2016":67},{"cil":"Dánsko","puvod":"Eritrea","1999":1,"2000":9,"2001":6,"2002":3,"2003":5,"2004":18,"2005":8,"2006":5,"2007":6,"2008":15,"2009":37,"2010":26,"2011":20,"2012":57,"2013":98,"2014":2293,"2015":1738,"2016":267},{"cil":"Dánsko","puvod":"Bosna a Hercegovina","1999":165,"2000":706,"2001":1448,"2002":182,"2003":229,"2004":102,"2005":50,"2006":39,"2007":41,"2008":26,"2009":37,"2010":15,"2011":22,"2012":48,"2013":60,"2014":22,"2015":5,"2016":20},{"cil":"Dánsko","puvod":"ostatní","1999":2318,"2000":2625,"2001":3007,"2002":1804,"2003":1632,"2004":1309,"2005":1022,"2006":739,"2007":556,"2008":698,"2009":901,"2010":941,"2011":1126,"2012":1748,"2013":2268,"2014":3165,"2015":3116,"2016":1876},{"cil":"Finsko","puvod":"Irák","1999":97,"2000":62,"2001":103,"2002":107,"2003":150,"2004":118,"2005":289,"2006":227,"2007":307,"2008":1253,"2009":1195,"2010":575,"2011":588,"2012":784,"2013":764,"2014":807,"2015":20427,"2016":1083},{"cil":"Finsko","puvod":"Afghánistán","1999":24,"2000":31,"2001":25,"2002":25,"2003":51,"2004":164,"2005":237,"2006":96,"2007":70,"2008":249,"2009":461,"2010":265,"2011":292,"2012":188,"2013":172,"2014":198,"2015":5198,"2016":697},{"cil":"Finsko","puvod":"Somálsko","1999":73,"2000":28,"2001":18,"2002":52,"2003":91,"2004":243,"2005":320,"2006":91,"2007":81,"2008":1176,"2009":1180,"2010":571,"2011":365,"2012":173,"2013":196,"2014":407,"2015":1974,"2016":426},{"cil":"Finsko","puvod":"Srbsko a Kosovo","1999":147,"2000":273,"2001":98,"2002":240,"2003":645,"2004":772,"2005":457,"2006":283,"2007":142,"2008":161,"2009":340,"2010":325,"2011":160,"2012":167,"2013":119,"2014":103,"2015":196,"2016":47},{"cil":"Finsko","puvod":"Rusko","1999":192,"2000":289,"2001":289,"2002":255,"2003":292,"2004":210,"2005":233,"2006":168,"2007":172,"2008":208,"2009":602,"2010":436,"2011":294,"2012":199,"2013":219,"2014":167,"2015":160,"2016":174},{"cil":"Finsko","puvod":"Bulharsko","1999":3,"2000":13,"2001":null,"2002":248,"2003":287,"2004":200,"2005":569,"2006":445,"2007":11,"2008":82,"2009":739,"2010":485,"2011":48,"2012":7,"2013":2,"2014":null,"2015":0,"2016":0},{"cil":"Finsko","puvod":"Slovensko","1999":1516,"2000":377,"2001":88,"2002":381,"2003":85,"2004":329,"2005":7,"2006":5,"2007":8,"2008":4,"2009":null,"2010":4,"2011":null,"2012":null,"2013":null,"2014":null,"2015":null,"2016":7},{"cil":"Finsko","puvod":"Sýrie","1999":19,"2000":8,"2001":8,"2002":6,"2003":39,"2004":15,"2005":11,"2006":21,"2007":8,"2008":24,"2009":36,"2010":41,"2011":109,"2012":180,"2013":148,"2014":146,"2015":876,"2016":600},{"cil":"Finsko","puvod":"Írán","1999":50,"2000":50,"2001":56,"2002":39,"2003":47,"2004":95,"2005":79,"2006":87,"2007":78,"2008":143,"2009":162,"2010":142,"2011":125,"2012":121,"2013":147,"2014":88,"2015":601,"2016":138},{"cil":"Finsko","puvod":"ostatní","1999":986,"2000":2039,"2001":966,"2002":1780,"2003":1534,"2004":1505,"2005":1361,"2006":865,"2007":557,"2008":716,"2009":1273,"2010":1174,"2011":1104,"2012":1103,"2013":1255,"2014":1601,"2015":2218,"2016":1555},{"cil":"Francie","puvod":"DR Kongo","1999":2269,"2000":2903,"2001":3779,"2002":5244,"2003":5016,"2004":3848,"2005":2959,"2006":2278,"2007":2126,"2008":2485,"2009":2784,"2010":3395,"2011":3804,"2012":5321,"2013":5263,"2014":5170,"2015":3984,"2016":3063},{"cil":"Francie","puvod":"Srbsko a Kosovo","1999":2476,"2000":1976,"2001":1570,"2002":1613,"2003":2568,"2004":3812,"2005":3896,"2006":3042,"2007":3063,"2008":3129,"2009":5236,"2010":5754,"2011":3458,"2012":3957,"2013":5867,"2014":2969,"2015":5269,"2016":2722},{"cil":"Francie","puvod":"Rusko","1999":464,"2000":743,"2001":1753,"2002":1728,"2003":3251,"2004":3331,"2005":2905,"2006":2251,"2007":3222,"2008":3579,"2009":3383,"2010":4302,"2011":4042,"2012":5366,"2013":4676,"2014":3596,"2015":2974,"2016":1631},{"cil":"Francie","puvod":"Turecko","1999":2212,"2000":3529,"2001":5344,"2002":6516,"2003":7119,"2004":4741,"2005":3803,"2006":2752,"2007":2223,"2008":2196,"2009":2045,"2010":1402,"2011":1737,"2012":2054,"2013":1682,"2014":1391,"2015":1030,"2016":907},{"cil":"Francie","puvod":"Čína","1999":5165,"2000":4961,"2001":2953,"2002":2716,"2003":5322,"2004":4196,"2005":2590,"2006":1214,"2007":1288,"2008":821,"2009":1602,"2010":1933,"2011":2184,"2012":2226,"2013":2293,"2014":2675,"2015":2961,"2016":1853},{"cil":"Francie","puvod":"Srí Lanka","1999":1990,"2000":1879,"2001":1997,"2002":1988,"2003":2086,"2004":2246,"2005":2044,"2006":2143,"2007":2130,"2008":2304,"2009":3097,"2010":2827,"2011":3183,"2012":3122,"2013":2325,"2014":2129,"2015":1620,"2016":1156},{"cil":"Francie","puvod":"Haiti","1999":503,"2000":1873,"2001":2712,"2002":1901,"2003":1472,"2004":3133,"2005":5035,"2006":1840,"2007":673,"2008":925,"2009":1451,"2010":1992,"2011":2010,"2012":1602,"2013":1473,"2014":1854,"2015":3198,"2016":4936},{"cil":"Francie","puvod":"Alžírsko","1999":1306,"2000":1775,"2001":2924,"2002":2839,"2003":2730,"2004":4209,"2005":2003,"2006":1125,"2007":965,"2008":973,"2009":1118,"2010":1169,"2011":1132,"2012":1162,"2013":1479,"2014":1601,"2015":2323,"2016":2290},{"cil":"Francie","puvod":"Bangladéš","1999":870,"2000":914,"2001":825,"2002":661,"2003":954,"2004":959,"2005":851,"2006":607,"2007":959,"2008":1242,"2009":1441,"2010":3140,"2011":3568,"2012":1093,"2013":3069,"2014":2646,"2015":3358,"2016":2198},{"cil":"Francie","puvod":"ostatní","1999":13578,"2000":18035,"2001":23406,"2002":25592,"2003":28780,"2004":28102,"2005":22785,"2006":13433,"2007":12509,"2008":17510,"2009":19824,"2010":21877,"2011":26795,"2012":29352,"2013":32334,"2014":34994,"2015":47025,"2016":49484},{"cil":"Řecko","puvod":"Pákistán","1999":21,"2000":null,"2001":252,"2002":250,"2003":703,"2004":247,"2005":1154,"2006":2378,"2007":9144,"2008":6914,"2009":3716,"2010":2748,"2011":2309,"2012":2339,"2013":1358,"2014":1623,"2015":1503,"2016":939},{"cil":"Řecko","puvod":"Irák","1999":906,"2000":null,"2001":1972,"2002":2567,"2003":2879,"2004":936,"2005":971,"2006":1415,"2007":5474,"2008":1760,"2009":886,"2010":342,"2011":257,"2012":315,"2013":145,"2014":175,"2015":579,"2016":1234},{"cil":"Řecko","puvod":"Afghánistán","1999":116,"2000":null,"2001":1459,"2002":1238,"2003":593,"2004":382,"2005":458,"2006":1087,"2007":1556,"2008":2287,"2009":1510,"2010":524,"2011":637,"2012":584,"2013":1223,"2014":1711,"2015":1544,"2016":524},{"cil":"Řecko","puvod":"Bangladéš","1999":28,"2000":null,"2001":33,"2002":34,"2003":251,"2004":208,"2005":550,"2006":3750,"2007":2965,"2008":1778,"2009":1809,"2010":987,"2011":615,"2012":1007,"2013":727,"2014":635,"2015":536,"2016":308},{"cil":"Řecko","puvod":"Sýrie","1999":8,"2000":null,"2001":15,"2002":13,"2003":20,"2004":44,"2005":57,"2006":143,"2007":1311,"2008":808,"2009":965,"2010":167,"2011":352,"2012":275,"2013":485,"2014":791,"2015":3319,"2016":7009},{"cil":"Řecko","puvod":"Gruzie","1999":null,"2000":null,"2001":null,"2002":8,"2003":59,"2004":323,"2005":1897,"2006":428,"2007":1559,"2008":2241,"2009":2170,"2010":1162,"2011":1121,"2012":893,"2013":532,"2014":350,"2015":297,"2016":201},{"cil":"Řecko","puvod":"Nigérie","1999":11,"2000":null,"2001":33,"2002":184,"2003":468,"2004":325,"2005":406,"2006":391,"2007":390,"2008":746,"2009":780,"2010":393,"2011":362,"2012":267,"2013":256,"2014":332,"2015":191,"2016":71},{"cil":"Řecko","puvod":"Írán","1999":74,"2000":null,"2001":212,"2002":411,"2003":632,"2004":228,"2005":203,"2006":528,"2007":354,"2008":312,"2009":303,"2010":125,"2011":247,"2012":211,"2013":188,"2014":358,"2015":187,"2016":513},{"cil":"Řecko","puvod":"Albánie","1999":8,"2000":null,"2001":10,"2002":9,"2003":12,"2004":23,"2005":21,"2006":20,"2007":51,"2008":202,"2009":517,"2010":693,"2011":276,"2012":384,"2013":579,"2014":570,"2015":913,"2016":497},{"cil":"Řecko","puvod":"ostatní","1999":356,"2000":3004,"2001":1513,"2002":950,"2003":2561,"2004":1750,"2005":3333,"2006":2127,"2007":2309,"2008":2836,"2009":3272,"2010":3132,"2011":3135,"2012":3302,"2013":2732,"2014":2904,"2015":1792,"2016":1500},{"cil":"Maďarsko","puvod":"Afghánistán","1999":2238,"2000":2185,"2001":4311,"2002":2160,"2003":469,"2004":38,"2005":23,"2006":13,"2007":35,"2008":116,"2009":1194,"2010":796,"2011":649,"2012":880,"2013":2279,"2014":8539,"2015":45560,"2016":10260},{"cil":"Maďarsko","puvod":"Sýrie","1999":31,"2000":41,"2001":17,"2002":20,"2003":11,"2004":10,"2005":18,"2006":32,"2007":48,"2008":16,"2009":19,"2010":26,"2011":91,"2012":145,"2013":960,"2014":6749,"2015":64081,"2016":4581},{"cil":"Maďarsko","puvod":"Srbsko a Kosovo","1999":4783,"2000":692,"2001":214,"2002":100,"2003":112,"2004":180,"2005":243,"2006":384,"2007":723,"2008":1593,"2009":2322,"2010":637,"2011":238,"2012":246,"2013":6155,"2014":21206,"2015":23746,"2016":108},{"cil":"Maďarsko","puvod":"Pákistán","1999":322,"2000":220,"2001":157,"2002":40,"2003":53,"2004":54,"2005":40,"2006":18,"2007":15,"2008":246,"2009":41,"2010":41,"2011":121,"2012":327,"2013":3052,"2014":305,"2015":15011,"2016":3584},{"cil":"Maďarsko","puvod":"Irák","1999":543,"2000":889,"2001":1014,"2002":2006,"2003":348,"2004":36,"2005":18,"2006":68,"2007":136,"2008":125,"2009":57,"2010":55,"2011":54,"2012":28,"2013":56,"2014":470,"2015":9173,"2016":3218},{"cil":"Maďarsko","puvod":"Bangladéš","1999":1314,"2000":1656,"2001":1514,"2002":352,"2003":31,"2004":29,"2005":90,"2006":15,"2007":10,"2008":35,"2009":26,"2010":7,"2011":3,"2012":15,"2013":678,"2014":228,"2015":4000,"2016":243},{"cil":"Maďarsko","puvod":"Írán","1999":75,"2000":55,"2001":144,"2002":160,"2003":170,"2004":46,"2005":25,"2006":20,"2007":14,"2008":10,"2009":87,"2010":72,"2011":33,"2012":45,"2013":59,"2014":249,"2015":1780,"2016":1216},{"cil":"Maďarsko","puvod":"Alžírsko","1999":179,"2000":95,"2001":76,"2002":34,"2003":79,"2004":57,"2005":18,"2006":18,"2007":48,"2008":19,"2009":11,"2010":33,"2011":56,"2012":59,"2013":1105,"2014":30,"2015":529,"2016":527},{"cil":"Maďarsko","puvod":"Palestina","1999":42,"2000":29,"2001":104,"2002":30,"2003":35,"2004":65,"2005":24,"2006":37,"2007":52,"2008":41,"2009":23,"2010":209,"2011":36,"2012":17,"2013":86,"2014":834,"2015":1010,"2016":185},{"cil":"Maďarsko","puvod":"ostatní","1999":1972,"2000":1937,"2001":2003,"2002":1510,"2003":1093,"2004":1085,"2005":1110,"2006":1504,"2007":2338,"2008":917,"2009":892,"2010":588,"2011":412,"2012":394,"2013":4143,"2014":2756,"2015":9136,"2016":2768},{"cil":"Irsko","puvod":"Nigérie","1999":1895,"2000":3404,"2001":3461,"2002":4049,"2003":3110,"2004":1776,"2005":1276,"2006":1037,"2007":1028,"2008":1008,"2009":569,"2010":387,"2011":182,"2012":158,"2013":129,"2014":139,"2015":186,"2016":176},{"cil":"Irsko","puvod":"Rumunsko","1999":2226,"2000":2384,"2001":1347,"2002":1676,"2003":691,"2004":286,"2005":385,"2006":289,"2007":null,"2008":null,"2009":null,"2010":null,"2011":null,"2012":null,"2013":null,"2014":null,"2015":null,"2016":null},{"cil":"Irsko","puvod":"Pákistán","1999":60,"2000":47,"2001":127,"2002":120,"2003":62,"2004":55,"2005":68,"2006":167,"2007":185,"2008":237,"2009":258,"2010":200,"2011":175,"2012":104,"2013":91,"2014":291,"2015":1353,"2016":233},{"cil":"Irsko","puvod":"Moldávie","1999":275,"2000":388,"2001":549,"2002":537,"2003":244,"2004":100,"2005":100,"2006":110,"2007":133,"2008":142,"2009":86,"2010":56,"2011":28,"2012":16,"2013":3,"2014":3,"2015":0,"2016":0},{"cil":"Irsko","puvod":"DR Kongo","1999":272,"2000":358,"2001":281,"2002":270,"2003":256,"2004":140,"2005":138,"2006":109,"2007":149,"2008":172,"2009":101,"2010":70,"2011":70,"2012":58,"2013":72,"2014":74,"2015":44,"2016":51},{"cil":"Irsko","puvod":"Čína","1999":7,"2000":16,"2001":25,"2002":85,"2003":168,"2004":152,"2005":96,"2006":139,"2007":259,"2008":180,"2009":194,"2010":228,"2011":142,"2012":32,"2013":22,"2014":32,"2015":5,"2016":5},{"cil":"Irsko","puvod":"Somálsko","1999":123,"2000":138,"2001":70,"2002":77,"2003":183,"2004":198,"2005":367,"2006":161,"2007":144,"2008":141,"2009":84,"2010":38,"2011":21,"2012":6,"2013":10,"2014":14,"2015":0,"2016":10},{"cil":"Irsko","puvod":"Zimbabwe","1999":4,"2000":25,"2001":102,"2002":357,"2003":88,"2004":69,"2005":51,"2006":77,"2007":87,"2008":114,"2009":91,"2010":48,"2011":67,"2012":48,"2013":70,"2014":85,"2015":88,"2016":192},{"cil":"Irsko","puvod":"Alžírsko","1999":273,"2000":296,"2001":174,"2002":106,"2003":68,"2004":66,"2005":32,"2006":49,"2007":47,"2008":65,"2009":71,"2010":32,"2011":48,"2012":29,"2013":51,"2014":77,"2015":77,"2016":56},{"cil":"Irsko","puvod":"ostatní","1999":2589,"2000":3864,"2001":4188,"2002":4357,"2003":3030,"2004":1924,"2005":1808,"2006":2176,"2007":1953,"2008":1806,"2009":1235,"2010":880,"2011":557,"2012":488,"2013":494,"2014":723,"2015":1088,"2016":1027},{"cil":"Itálie","puvod":"Nigérie","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":5333,"2009":3720,"2010":1385,"2011":7758,"2012":1613,"2013":3170,"2014":9689,"2015":17779,"2016":26698},{"cil":"Itálie","puvod":"Pákistán","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":920,"2009":1250,"2010":929,"2011":2559,"2012":2601,"2013":3175,"2014":7095,"2015":10287,"2016":13516},{"cil":"Itálie","puvod":"Gambie","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":373,"2009":285,"2010":80,"2011":366,"2012":321,"2013":1701,"2014":8492,"2015":8015,"2016":8874},{"cil":"Itálie","puvod":"Mali","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":490,"2009":170,"2010":67,"2011":3017,"2012":785,"2013":1714,"2014":9758,"2015":5446,"2016":6347},{"cil":"Itálie","puvod":"Bangladéš","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":1322,"2009":1200,"2010":222,"2011":1788,"2012":566,"2013":460,"2014":4524,"2015":6017,"2016":6611},{"cil":"Itálie","puvod":"Senegal","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":117,"2009":130,"2010":162,"2011":904,"2012":939,"2013":988,"2014":4661,"2015":6371,"2016":7584},{"cil":"Itálie","puvod":"Afghánistán","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":2005,"2009":620,"2010":873,"2011":1429,"2012":1495,"2013":2049,"2014":3104,"2015":3986,"2016":2843},{"cil":"Itálie","puvod":"Ghana","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":1674,"2009":850,"2010":278,"2011":3648,"2012":846,"2013":478,"2014":2102,"2015":3621,"2016":4515},{"cil":"Itálie","puvod":"Pobřeží slonoviny","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":1844,"2009":570,"2010":235,"2011":2167,"2012":629,"2013":237,"2014":1481,"2015":3084,"2016":7464},{"cil":"Itálie","puvod":"ostatní","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":17086,"2009":8730,"2010":5821,"2011":16720,"2012":7557,"2013":11748,"2014":12751,"2015":18061,"2016":37141},{"cil":"Lucembursko","puvod":"Srbsko a Kosovo","1999":2606,"2000":248,"2001":206,"2002":495,"2003":541,"2004":362,"2005":215,"2006":207,"2007":225,"2008":219,"2009":149,"2010":301,"2011":1097,"2012":587,"2013":184,"2014":145,"2015":229,"2016":333},{"cil":"Lucembursko","puvod":"Albánie","1999":80,"2000":69,"2001":34,"2002":54,"2003":66,"2004":48,"2005":33,"2006":20,"2007":16,"2008":14,"2009":26,"2010":23,"2011":27,"2012":302,"2013":70,"2014":86,"2015":122,"2016":212},{"cil":"Lucembursko","puvod":"Bosna a Hercegovina","1999":54,"2000":50,"2001":87,"2002":77,"2003":59,"2004":34,"2005":36,"2006":17,"2007":24,"2008":31,"2009":35,"2010":13,"2011":51,"2012":286,"2013":139,"2014":151,"2015":44,"2016":42},{"cil":"Lucembursko","puvod":"Sýrie","1999":null,"2000":2,"2001":1,"2002":null,"2003":1,"2004":1,"2005":null,"2006":null,"2007":null,"2008":null,"2009":1,"2010":19,"2011":11,"2012":14,"2013":24,"2014":87,"2015":635,"2016":289},{"cil":"Lucembursko","puvod":"Irák","1999":6,"2000":3,"2001":8,"2002":34,"2003":14,"2004":9,"2005":8,"2006":16,"2007":14,"2008":29,"2009":65,"2010":79,"2011":43,"2012":31,"2013":27,"2014":13,"2015":527,"2016":150},{"cil":"Lucembursko","puvod":"Makedonie","1999":33,"2000":9,"2001":68,"2002":44,"2003":23,"2004":13,"2005":10,"2006":3,"2007":4,"2008":7,"2009":6,"2010":14,"2011":446,"2012":169,"2013":33,"2014":13,"2015":15,"2016":33},{"cil":"Lucembursko","puvod":"Nigérie","1999":null,"2000":1,"2001":2,"2002":6,"2003":86,"2004":330,"2005":45,"2006":15,"2007":7,"2008":5,"2009":6,"2010":5,"2011":11,"2012":24,"2013":53,"2014":29,"2015":12,"2016":44},{"cil":"Lucembursko","puvod":"Černá Hora","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":15,"2008":14,"2009":6,"2010":null,"2011":103,"2012":297,"2013":91,"2014":105,"2015":37,"2016":5},{"cil":"Lucembursko","puvod":"Rusko","1999":28,"2000":25,"2001":66,"2002":68,"2003":60,"2004":66,"2005":54,"2006":43,"2007":13,"2008":13,"2009":27,"2010":25,"2011":49,"2012":18,"2013":12,"2014":6,"2015":0,"2016":0},{"cil":"Lucembursko","puvod":"ostatní","1999":105,"2000":178,"2001":217,"2002":265,"2003":704,"2004":714,"2005":398,"2006":203,"2007":108,"2008":131,"2009":184,"2010":267,"2011":324,"2012":324,"2013":355,"2014":338,"2015":368,"2016":421},{"cil":"Malta","puvod":"Somálsko","1999":null,"2000":null,"2001":null,"2002":null,"2003":173,"2004":490,"2005":226,"2006":208,"2007":585,"2008":1081,"2009":1445,"2010":34,"2011":454,"2012":1249,"2013":1008,"2014":121,"2015":26,"2016":221},{"cil":"Malta","puvod":"Eritrea","1999":null,"2000":null,"2001":null,"2002":null,"2003":37,"2004":100,"2005":255,"2006":390,"2007":339,"2008":176,"2009":273,"2010":6,"2011":306,"2012":434,"2013":471,"2014":47,"2015":33,"2016":252},{"cil":"Malta","puvod":"Libye","1999":null,"2000":null,"2001":null,"2002":null,"2003":9,"2004":2,"2005":9,"2006":5,"2007":1,"2008":1,"2009":1,"2010":7,"2011":66,"2012":54,"2013":108,"2014":417,"2015":890,"2016":652},{"cil":"Malta","puvod":"Sýrie","1999":null,"2000":null,"2001":null,"2002":null,"2003":3,"2004":3,"2005":11,"2006":4,"2007":1,"2008":1,"2009":14,"2010":8,"2011":122,"2012":147,"2013":250,"2014":305,"2015":398,"2016":287},{"cil":"Malta","puvod":"Nigérie","1999":null,"2000":null,"2001":null,"2002":null,"2003":4,"2004":14,"2005":31,"2006":57,"2007":38,"2008":223,"2009":280,"2010":8,"2011":246,"2012":66,"2013":85,"2014":48,"2015":0,"2016":0},{"cil":"Malta","puvod":"Súdán","1999":null,"2000":null,"2001":null,"2002":null,"2003":28,"2004":41,"2005":243,"2006":179,"2007":76,"2008":30,"2009":40,"2010":6,"2011":58,"2012":6,"2013":7,"2014":76,"2015":0,"2016":5},{"cil":"Malta","puvod":"Pobřeží slonoviny","1999":null,"2000":null,"2001":null,"2002":null,"2003":43,"2004":31,"2005":92,"2006":40,"2007":77,"2008":264,"2009":44,"2010":3,"2011":110,"2012":null,"2013":3,"2014":3,"2015":14,"2016":0},{"cil":"Malta","puvod":"Etiopie","1999":null,"2000":null,"2001":null,"2002":null,"2003":41,"2004":26,"2005":18,"2006":125,"2007":73,"2008":97,"2009":35,"2010":7,"2011":113,"2012":38,"2013":15,"2014":19,"2015":0,"2016":5},{"cil":"Malta","puvod":"Mali","1999":null,"2000":null,"2001":null,"2002":null,"2003":6,"2004":2,"2005":1,"2006":5,"2007":46,"2008":208,"2009":104,"2010":null,"2011":92,"2012":null,"2013":40,"2014":31,"2015":28,"2016":null},{"cil":"Malta","puvod":"ostatní","1999":null,"2000":null,"2001":null,"2002":null,"2003":224,"2004":288,"2005":281,"2006":259,"2007":143,"2008":526,"2009":153,"2010":60,"2011":286,"2012":62,"2013":213,"2014":213,"2015":136,"2016":116},{"cil":"Nizozemsko","puvod":"Sýrie","1999":850,"2000":1077,"2001":522,"2002":322,"2003":234,"2004":180,"2005":280,"2006":293,"2007":36,"2008":48,"2009":101,"2010":125,"2011":168,"2012":454,"2013":2673,"2014":8748,"2015":18675,"2016":2226},{"cil":"Nizozemsko","puvod":"Irák","1999":3703,"2000":2773,"2001":1329,"2002":1022,"2003":3472,"2004":1043,"2005":1620,"2006":2766,"2007":2004,"2008":5027,"2009":1991,"2010":1383,"2011":1435,"2012":1391,"2013":1094,"2014":616,"2015":3009,"2016":952},{"cil":"Nizozemsko","puvod":"Somálsko","1999":2731,"2000":2110,"2001":1098,"2002":538,"2003":451,"2004":792,"2005":1315,"2006":1462,"2007":1874,"2008":3842,"2009":5889,"2010":3372,"2011":1415,"2012":877,"2013":3078,"2014":349,"2015":257,"2016":157},{"cil":"Nizozemsko","puvod":"Afghánistán","1999":4400,"2000":5055,"2001":3614,"2002":1077,"2003":492,"2004":689,"2005":902,"2006":932,"2007":143,"2008":395,"2009":1281,"2010":1364,"2011":1885,"2012":1022,"2013":673,"2014":452,"2015":2550,"2016":1045},{"cil":"Nizozemsko","puvod":"Eritrea","1999":268,"2000":260,"2001":213,"2002":153,"2003":123,"2004":148,"2005":204,"2006":175,"2007":153,"2008":236,"2009":475,"2010":392,"2011":458,"2012":424,"2013":978,"2014":3833,"2015":7344,"2016":1523},{"cil":"Nizozemsko","puvod":"Írán","1999":1527,"2000":2543,"2001":1519,"2002":665,"2003":555,"2004":450,"2005":557,"2006":921,"2007":187,"2008":322,"2009":502,"2010":785,"2011":929,"2012":834,"2013":728,"2014":505,"2015":1890,"2016":890},{"cil":"Nizozemsko","puvod":"Srbsko a Kosovo","1999":3692,"2000":3851,"2001":908,"2002":516,"2003":393,"2004":395,"2005":336,"2006":607,"2007":24,"2008":32,"2009":75,"2010":106,"2011":120,"2012":170,"2013":316,"2014":247,"2015":1128,"2016":1393},{"cil":"Nizozemsko","puvod":"Angola","1999":1585,"2000":2193,"2001":4111,"2002":1891,"2003":370,"2004":177,"2005":222,"2006":212,"2007":30,"2008":32,"2009":37,"2010":30,"2011":18,"2012":15,"2013":22,"2014":7,"2015":5,"2016":0},{"cil":"Nizozemsko","puvod":"Sierra Leone","1999":1280,"2000":2023,"2001":2405,"2002":1620,"2003":314,"2004":138,"2005":189,"2006":203,"2007":130,"2008":129,"2009":121,"2010":116,"2011":134,"2012":92,"2013":97,"2014":80,"2015":23,"2016":0},{"cil":"Nizozemsko","puvod":"ostatní","1999":19264,"2000":22007,"2001":16860,"2002":10863,"2003":6998,"2004":5770,"2005":6722,"2006":6894,"2007":2521,"2008":3336,"2009":4433,"2010":5660,"2011":5028,"2012":4385,"2013":4740,"2014":6974,"2015":7607,"2016":9445},{"cil":"Norsko","puvod":"Afghánistán","1999":172,"2000":326,"2001":603,"2002":786,"2003":2050,"2004":1059,"2005":466,"2006":224,"2007":206,"2008":1320,"2009":3802,"2010":930,"2011":948,"2012":987,"2013":720,"2014":549,"2015":6916,"2016":373},{"cil":"Norsko","puvod":"Somálsko","1999":1340,"2000":910,"2001":1080,"2002":1535,"2003":1623,"2004":958,"2005":667,"2006":632,"2007":169,"2008":1259,"2009":1827,"2010":1227,"2011":2165,"2012":2803,"2013":2530,"2014":756,"2015":501,"2016":144},{"cil":"Norsko","puvod":"Eritrea","1999":61,"2000":51,"2001":132,"2002":269,"2003":201,"2004":110,"2005":177,"2006":316,"2007":777,"2008":1772,"2009":2605,"2010":1609,"2011":1292,"2012":1600,"2013":3766,"2014":2805,"2015":2785,"2016":353},{"cil":"Norsko","puvod":"Irák","1999":4073,"2000":766,"2001":1056,"2002":1624,"2003":971,"2004":412,"2005":671,"2006":1002,"2007":1176,"2008":3064,"2009":1154,"2010":419,"2011":318,"2012":229,"2013":179,"2014":165,"2015":2939,"2016":214},{"cil":"Norsko","puvod":"Srbsko a Kosovo","1999":1152,"2000":4188,"2001":928,"2002":2460,"2003":2216,"2004":859,"2005":468,"2006":369,"2007":536,"2008":615,"2009":352,"2010":397,"2011":200,"2012":218,"2013":304,"2014":214,"2015":195,"2016":52},{"cil":"Norsko","puvod":"Sýrie","1999":95,"2000":60,"2001":57,"2002":80,"2003":97,"2004":71,"2005":79,"2006":49,"2007":48,"2008":114,"2009":271,"2010":110,"2011":189,"2012":312,"2013":868,"2014":1978,"2015":10520,"2016":510},{"cil":"Norsko","puvod":"Rusko","1999":318,"2000":471,"2001":1320,"2002":1719,"2003":1923,"2004":937,"2005":545,"2006":548,"2007":811,"2008":1025,"2009":794,"2010":557,"2011":309,"2012":294,"2013":339,"2014":175,"2015":105,"2016":71},{"cil":"Norsko","puvod":"Írán","1999":350,"2000":327,"2001":412,"2002":450,"2003":621,"2004":394,"2005":279,"2006":218,"2007":211,"2008":688,"2009":555,"2010":408,"2011":347,"2012":435,"2013":274,"2014":94,"2015":1308,"2016":124},{"cil":"Norsko","puvod":"Etiopie","1999":126,"2000":96,"2001":173,"2002":325,"2003":293,"2004":148,"2005":100,"2006":143,"2007":233,"2008":351,"2009":696,"2010":495,"2011":289,"2012":221,"2013":356,"2014":365,"2015":662,"2016":157},{"cil":"Norsko","puvod":"ostatní","1999":2473,"2000":3647,"2001":9023,"2002":8232,"2003":5965,"2004":2997,"2005":1950,"2006":1819,"2007":2009,"2008":3725,"2009":4507,"2010":3071,"2011":2627,"2012":3586,"2013":3939,"2014":3862,"2015":4098,"2016":617},{"cil":"Polsko","puvod":"Rusko","1999":104,"2000":1050,"2001":1513,"2002":2649,"2003":5581,"2004":7180,"2005":5015,"2006":3772,"2007":6536,"2008":6647,"2009":5726,"2010":4796,"2011":3170,"2012":4940,"2013":11933,"2014":2079,"2015":6985,"2016":7134},{"cil":"Polsko","puvod":"Gruzie","1999":37,"2000":71,"2001":93,"2002":39,"2003":30,"2004":47,"2005":40,"2006":16,"2007":14,"2008":54,"2009":4182,"2010":1083,"2011":1442,"2012":2960,"2013":1057,"2014":561,"2015":232,"2016":37},{"cil":"Polsko","puvod":"Ukrajina","1999":27,"2000":64,"2001":135,"2002":92,"2003":85,"2004":72,"2005":49,"2006":45,"2007":29,"2008":25,"2009":36,"2010":45,"2011":46,"2012":58,"2013":32,"2014":2150,"2015":1573,"2016":558},{"cil":"Polsko","puvod":"Arménie","1999":853,"2000":810,"2001":626,"2002":217,"2003":104,"2004":18,"2005":10,"2006":32,"2007":22,"2008":32,"2009":147,"2010":107,"2011":179,"2012":380,"2013":150,"2014":101,"2015":160,"2016":313},{"cil":"Polsko","puvod":"Afghánistán","1999":551,"2000":288,"2001":422,"2002":560,"2003":251,"2004":57,"2005":3,"2006":8,"2007":9,"2008":4,"2009":14,"2010":25,"2011":33,"2012":88,"2013":43,"2014":31,"2015":5,"2016":0},{"cil":"Polsko","puvod":"Tádžikistán","1999":7,"2000":1,"2001":null,"2002":4,"2003":1,"2004":null,"2005":1,"2006":null,"2007":1,"2008":null,"2009":2,"2010":null,"2011":null,"2012":9,"2013":5,"2014":107,"2015":526,"2016":816},{"cil":"Polsko","puvod":"Rumunsko","1999":203,"2000":888,"2001":265,"2002":38,"2003":11,"2004":5,"2005":3,"2006":null,"2007":null,"2008":null,"2009":null,"2010":null,"2011":null,"2012":null,"2013":2,"2014":null,"2015":null,"2016":null},{"cil":"Polsko","puvod":"Vietnam","1999":18,"2000":160,"2001":202,"2002":48,"2003":25,"2004":16,"2005":24,"2006":22,"2007":44,"2008":57,"2009":67,"2010":47,"2011":26,"2012":50,"2013":32,"2014":52,"2015":41,"2016":65},{"cil":"Polsko","puvod":"Mongolsko","1999":155,"2000":177,"2001":240,"2002":153,"2003":27,"2004":3,"2005":4,"2006":7,"2007":14,"2008":12,"2009":15,"2010":23,"2011":6,"2012":12,"2013":7,"2014":8,"2015":0,"2016":0},{"cil":"Polsko","puvod":"ostatní","1999":909,"2000":887,"2001":1037,"2002":866,"2003":806,"2004":679,"2005":287,"2006":321,"2007":447,"2008":372,"2009":403,"2010":414,"2011":358,"2012":685,"2013":722,"2014":541,"2015":496,"2016":214},{"cil":"Rumunsko","puvod":"Irák","1999":149,"2000":250,"2001":651,"2002":381,"2003":330,"2004":109,"2005":103,"2006":68,"2007":243,"2008":133,"2009":71,"2010":75,"2011":59,"2012":45,"2013":45,"2014":211,"2015":201,"2016":294},{"cil":"Rumunsko","puvod":"Sýrie","1999":25,"2000":15,"2001":21,"2002":27,"2003":15,"2004":28,"2005":38,"2006":12,"2007":10,"2008":11,"2009":13,"2010":19,"2011":36,"2012":256,"2013":1016,"2014":614,"2015":552,"2016":482},{"cil":"Rumunsko","puvod":"Afghánistán","1999":292,"2000":282,"2001":782,"2002":35,"2003":16,"2004":1,"2005":null,"2006":5,"2007":3,"2008":5,"2009":87,"2010":120,"2011":107,"2012":200,"2013":39,"2014":277,"2015":84,"2016":39},{"cil":"Rumunsko","puvod":"Pákistán","1999":102,"2000":225,"2001":88,"2002":36,"2003":22,"2004":34,"2005":31,"2006":16,"2007":7,"2008":252,"2009":92,"2010":62,"2011":144,"2012":335,"2013":40,"2014":46,"2015":15,"2016":50},{"cil":"Rumunsko","puvod":"Bangladéš","1999":458,"2000":226,"2001":27,"2002":74,"2003":6,"2004":30,"2005":50,"2006":5,"2007":9,"2008":172,"2009":40,"2010":11,"2011":19,"2012":69,"2013":9,"2014":7,"2015":21,"2016":0},{"cil":"Rumunsko","puvod":"Alžírsko","1999":4,"2000":8,"2001":13,"2002":2,"2003":2,"2004":null,"2005":4,"2006":null,"2007":1,"2008":1,"2009":3,"2010":11,"2011":456,"2012":600,"2013":5,"2014":7,"2015":0,"2016":0},{"cil":"Rumunsko","puvod":"Indie","1999":55,"2000":40,"2001":164,"2002":127,"2003":158,"2004":65,"2005":27,"2006":1,"2007":15,"2008":141,"2009":41,"2010":18,"2011":18,"2012":17,"2013":4,"2014":5,"2015":0,"2016":0},{"cil":"Rumunsko","puvod":"Čína","1999":1,"2000":null,"2001":45,"2002":90,"2003":205,"2004":91,"2005":49,"2006":45,"2007":26,"2008":53,"2009":61,"2010":67,"2011":47,"2012":37,"2013":18,"2014":13,"2015":0,"2016":0},{"cil":"Rumunsko","puvod":"Srbsko a Kosovo","1999":391,"2000":8,"2001":22,"2002":2,"2003":11,"2004":7,"2005":2,"2006":2,"2007":183,"2008":25,"2009":19,"2010":11,"2011":6,"2012":14,"2013":6,"2014":9,"2015":0,"2016":17},{"cil":"Rumunsko","puvod":"ostatní","1999":188,"2000":308,"2001":567,"2002":334,"2003":312,"2004":296,"2005":290,"2006":224,"2007":162,"2008":290,"2009":407,"2010":465,"2011":828,"2012":937,"2013":317,"2014":357,"2015":101,"2016":79},{"cil":"Srbsko a Kosovo","puvod":"Sýrie","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":5,"2009":null,"2010":1,"2011":33,"2012":288,"2013":1362,"2014":9784,"2015":239,"2016":161},{"cil":"Srbsko a Kosovo","puvod":"Afghánistán","1999":null,"2000":null,"2001":null,"2002":null,"2003":26,"2004":null,"2005":null,"2006":null,"2007":null,"2008":null,"2009":235,"2010":425,"2011":1757,"2012":815,"2013":492,"2014":3017,"2015":35,"2016":405},{"cil":"Srbsko a Kosovo","puvod":"Somálsko","1999":null,"2000":null,"2001":null,"2002":null,"2003":1,"2004":null,"2005":null,"2006":null,"2007":null,"2008":1,"2009":1,"2010":42,"2011":501,"2012":505,"2013":507,"2014":707,"2015":117,"2016":null},{"cil":"Srbsko a Kosovo","puvod":"Eritrea","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":null,"2006":null,"2007":null,"2008":null,"2009":null,"2010":null,"2011":11,"2012":128,"2013":624,"2014":798,"2015":18,"2016":null},{"cil":"Srbsko a Kosovo","puvod":"Pákistán","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":null,"2005":5,"2006":1,"2007":4,"2008":null,"2009":6,"2010":30,"2011":356,"2012":247,"2013":219,"2014":289,"2015":0,"2016":55},{"cil":"Srbsko a Kosovo","puvod":"Irák","1999":null,"2000":null,"2001":null,"2002":null,"2003":70,"2004":11,"2005":5,"2006":25,"2007":40,"2008":12,"2009":3,"2010":53,"2011":16,"2012":19,"2013":58,"2014":273,"2015":12,"2016":139},{"cil":"Srbsko a Kosovo","puvod":"Palestina","1999":null,"2000":null,"2001":null,"2002":null,"2003":5,"2004":1,"2005":1,"2006":1,"2007":null,"2008":1,"2009":2,"2010":138,"2011":129,"2012":61,"2013":83,"2014":188,"2015":5,"2016":5},{"cil":"Srbsko a Kosovo","puvod":"Alžírsko","1999":null,"2000":null,"2001":null,"2002":null,"2003":1,"2004":null,"2005":null,"2006":null,"2007":null,"2008":null,"2009":null,"2010":9,"2011":65,"2012":183,"2013":256,"2014":19,"2015":0,"2016":0},{"cil":"Srbsko a Kosovo","puvod":"Súdán","1999":null,"2000":null,"2001":null,"2002":null,"2003":null,"2004":2,"2005":null,"2006":null,"2007":null,"2008":null,"2009":null,"2010":4,"2011":13,"2012":65,"2013":169,"2014":231,"2015":36,"2016":0},{"cil":"Srbsko a Kosovo","puvod":"ostatní","1999":null,"2000":null,"2001":null,"2002":null,"2003":35,"2004":36,"2005":74,"2006":20,"2007":34,"2008":61,"2009":60,"2010":91,"2011":439,"2012":457,"2013":1358,"2014":1282,"2015":37,"2016":16},{"cil":"Slovensko","puvod":"Indie","1999":155,"2000":380,"2001":1111,"2002":1611,"2003":1636,"2004":2954,"2005":564,"2006":727,"2007":619,"2008":90,"2009":57,"2010":38,"2011":2,"2012":1,"2013":null,"2014":1,"2015":0,"2016":0},{"cil":"Slovensko","puvod":"Afghánistán","1999":643,"2000":624,"2001":4315,"2002":1669,"2003":629,"2004":396,"2005":109,"2006":41,"2007":66,"2008":75,"2009":51,"2010":76,"2011":65,"2012":63,"2013":84,"2014":76,"2015":23,"2016":0},{"cil":"Slovensko","puvod":"Rusko","1999":null,"2000":14,"2001":74,"2002":618,"2003":2663,"2004":2402,"2005":1031,"2006":463,"2007":307,"2008":107,"2009":72,"2010":65,"2011":19,"2012":6,"2013":6,"2014":3,"2015":0,"2016":0},{"cil":"Slovensko","puvod":"Čína","1999":null,"2000":null,"2001":33,"2002":1764,"2003":1073,"2004":1250,"2005":243,"2006":164,"2007":96,"2008":44,"2009":39,"2010":35,"2011":7,"2012":3,"2013":5,"2014":null,"2015":null,"2016":null},{"cil":"Slovensko","puvod":"Irák","1999":137,"2000":113,"2001":990,"2002":1245,"2003":479,"2004":110,"2005":28,"2006":206,"2007":132,"2008":45,"2009":13,"2010":7,"2011":4,"2012":null,"2013":6,"2014":6,"2015":165,"2016":5},{"cil":"Slovensko","puvod":"Bangladéš","1999":43,"2000":46,"2001":429,"2002":1032,"2003":556,"2004":548,"2005":270,"2006":183,"2007":108,"2008":42,"2009":15,"2010":7,"2011":4,"2012":3,"2013":1,"2014":5,"2015":0,"2016":0},{"cil":"Slovensko","puvod":"Pákistán","1999":94,"2000":161,"2001":176,"2002":168,"2003":304,"2004":801,"2005":194,"2006":182,"2007":650,"2008":95,"2009":168,"2010":34,"2011":10,"2012":5,"2013":8,"2014":4,"2015":0,"2016":8},{"cil":"Slovensko","puvod":"Moldávie","1999":null,"2000":1,"2001":16,"2002":266,"2003":573,"2004":824,"2005":310,"2006":385,"2007":208,"2008":110,"2009":73,"2010":41,"2011":31,"2012":24,"2013":1,"2014":null,"2015":0,"2016":null},{"cil":"Slovensko","puvod":"Gruzie","1999":null,"2000":null,"2001":25,"2002":55,"2003":578,"2004":985,"2005":244,"2006":209,"2007":134,"2008":112,"2009":98,"2010":66,"2011":32,"2012":42,"2013":16,"2014":5,"2015":0,"2016":null},{"cil":"Slovensko","puvod":"ostatní","1999":241,"2000":215,"2001":982,"2002":1311,"2003":1832,"2004":1084,"2005":496,"2006":311,"2007":323,"2008":190,"2009":236,"2010":172,"2011":145,"2012":401,"2013":154,"2014":127,"2015":10,"2016":23},{"cil":"Slovinsko","puvod":"Írán","1999":90,"2000":5924,"2001":272,"2002":54,"2003":88,"2004":6,"2005":4,"2006":3,"2007":2,"2008":11,"2009":9,"2010":9,"2011":8,"2012":2,"2013":6,"2014":18,"2015":5,"2016":56},{"cil":"Slovinsko","puvod":"Srbsko a Kosovo","1999":400,"2000":397,"2001":205,"2002":86,"2003":181,"2004":379,"2005":520,"2006":243,"2007":234,"2008":69,"2009":39,"2010":28,"2011":35,"2012":28,"2013":37,"2014":21,"2015":15,"2016":26},{"cil":"Slovinsko","puvod":"Turecko","1999":58,"2000":1119,"2001":379,"2002":73,"2003":192,"2004":187,"2005":230,"2006":62,"2007":39,"2008":72,"2009":12,"2010":27,"2011":39,"2012":26,"2013":11,"2014":10,"2015":0,"2016":55},{"cil":"Slovinsko","puvod":"Irák","1999":58,"2000":447,"2001":214,"2002":131,"2003":190,"2004":28,"2005":14,"2006":6,"2007":4,"2008":null,"2009":3,"2010":7,"2011":7,"2012":1,"2013":null,"2014":12,"2015":32,"2016":98},{"cil":"Slovinsko","puvod":"Afghánistán","1999":4,"2000":247,"2001":66,"2002":3,"2003":2,"2004":4,"2005":4,"2006":2,"2007":12,"2008":10,"2009":11,"2010":23,"2011":57,"2012":50,"2013":14,"2014":71,"2015":31,"2016":405},{"cil":"Slovinsko","puvod":"Bosna a Hercegovina","1999":59,"2000":48,"2001":21,"2002":26,"2003":48,"2004":106,"2005":222,"2006":44,"2007":22,"2008":13,"2009":41,"2010":24,"2011":5,"2012":7,"2013":5,"2014":8,"2015":0,"2016":0},{"cil":"Slovinsko","puvod":"Bangladéš","1999":16,"2000":270,"2001":26,"2002":1,"2003":10,"2004":17,"2005":159,"2006":1,"2007":2,"2008":null,"2009":null,"2010":null,"2011":null,"2012":null,"2013":3,"2014":6,"2015":0,"2016":0},{"cil":"Slovinsko","puvod":"Alžírsko","1999":4,"2000":172,"2001":44,"2002":67,"2003":66,"2004":18,"2005":1,"2006":null,"2007":null,"2008":2,"2009":2,"2010":6,"2011":8,"2012":23,"2013":14,"2014":5,"2015":0,"2016":33},{"cil":"Slovinsko","puvod":"Sýrie","1999":null,"2000":null,"2001":null,"2002":null,"2003":1,"2004":null,"2005":1,"2006":null,"2007":null,"2008":null,"2009":null,"2010":3,"2011":10,"2012":32,"2013":56,"2014":88,"2015":8,"2016":263},{"cil":"Slovinsko","puvod":"ostatní","1999":178,"2000":618,"2001":281,"2002":197,"2003":324,"2004":429,"2005":441,"2006":157,"2007":112,"2008":61,"2009":64,"2010":84,"2011":138,"2012":95,"2013":96,"2014":122,"2015":35,"2016":157},{"cil":"Španělsko","puvod":"Kolumbie","1999":601,"2000":1166,"2001":2428,"2002":1056,"2003":524,"2004":632,"2005":1655,"2006":2239,"2007":2437,"2008":753,"2009":247,"2010":123,"2011":104,"2012":60,"2013":62,"2014":96,"2015":87,"2016":641},{"cil":"Španělsko","puvod":"Sýrie","1999":30,"2000":26,"2001":18,"2002":9,"2003":7,"2004":39,"2005":35,"2006":15,"2007":31,"2008":97,"2009":30,"2010":19,"2011":97,"2012":255,"2013":725,"2014":1666,"2015":5627,"2016":3052},{"cil":"Španělsko","puvod":"Nigérie","1999":187,"2000":735,"2001":1349,"2002":1440,"2003":1685,"2004":1030,"2005":726,"2006":632,"2007":674,"2008":801,"2009":459,"2010":237,"2011":259,"2012":204,"2013":173,"2014":161,"2015":182,"2016":290},{"cil":"Španělsko","puvod":"Alžírsko","1999":1342,"2000":276,"2001":225,"2002":344,"2003":680,"2004":988,"2005":406,"2006":230,"2007":243,"2008":151,"2009":181,"2010":175,"2011":122,"2012":202,"2013":351,"2014":306,"2015":650,"2016":752},{"cil":"Španělsko","puvod":"Ukrajina","1999":348,"2000":249,"2001":166,"2002":67,"2003":45,"2004":27,"2005":10,"2006":6,"2007":5,"2008":4,"2009":8,"2010":4,"2011":12,"2012":21,"2013":14,"2014":937,"2015":2570,"2016":2422},{"cil":"Španělsko","puvod":"Kuba","1999":280,"2000":739,"2001":2372,"2002":1164,"2003":112,"2004":72,"2005":78,"2006":59,"2007":82,"2008":119,"2009":84,"2010":406,"2011":440,"2012":64,"2013":58,"2014":18,"2015":21,"2016":52},{"cil":"Španělsko","puvod":"Venezuela","1999":3,"2000":4,"2001":null,"2002":4,"2003":31,"2004":30,"2005":22,"2006":20,"2007":41,"2008":48,"2009":29,"2010":19,"2011":52,"2012":28,"2013":35,"2014":124,"2015":515,"2016":4099},{"cil":"Španělsko","puvod":"Mali","1999":1,"2000":2,"2001":9,"2002":25,"2003":62,"2004":252,"2005":273,"2006":25,"2007":6,"2008":11,"2009":29,"2010":14,"2011":41,"2012":101,"2013":1478,"2014":619,"2015":176,"2016":229},{"cil":"Španělsko","puvod":"Pobřeží slonoviny","1999":8,"2000":10,"2001":11,"2002":45,"2003":240,"2004":110,"2005":162,"2006":236,"2007":313,"2008":498,"2009":304,"2010":119,"2011":550,"2012":106,"2013":72,"2014":79,"2015":50,"2016":133},{"cil":"Španělsko","puvod":"ostatní","1999":5605,"2000":3830,"2001":2641,"2002":2025,"2003":2381,"2004":2189,"2005":1895,"2006":1845,"2007":3631,"2008":1996,"2009":1628,"2010":1622,"2011":1737,"2012":1538,"2013":1533,"2014":1889,"2015":2834,"2016":3893},{"cil":"Švédsko","puvod":"Sýrie","1999":307,"2000":335,"2001":441,"2002":541,"2003":666,"2004":411,"2005":392,"2006":433,"2007":440,"2008":551,"2009":587,"2010":427,"2011":646,"2012":7814,"2013":16317,"2014":30313,"2015":50909,"2016":4731},{"cil":"Švédsko","puvod":"Irák","1999":3576,"2000":3499,"2001":6206,"2002":5447,"2003":2701,"2004":1456,"2005":2330,"2006":8951,"2007":18559,"2008":6083,"2009":2297,"2010":1978,"2011":1634,"2012":1322,"2013":1476,"2014":1743,"2015":20259,"2016":2046},{"cil":"Švédsko","puvod":"Afghánistán","1999":351,"2000":374,"2001":593,"2002":527,"2003":811,"2004":903,"2005":435,"2006":594,"2007":609,"2008":784,"2009":1694,"2010":2397,"2011":4120,"2012":4755,"2013":3011,"2014":2882,"2015":41281,"2016":2144},{"cil":"Švédsko","puvod":"Srbsko a Kosovo","1999":1812,"2000":2055,"2001":3102,"2002":5850,"2003":5305,"2004":4022,"2005":2944,"2006":2000,"2007":2500,"2008":1989,"2009":1806,"2010":7907,"2011":3915,"2012":3639,"2013":2878,"2014":2578,"2015":2363,"2016":497},{"cil":"Švédsko","puvod":"Somálsko","1999":289,"2000":260,"2001":525,"2002":1108,"2003":3069,"2004":905,"2005":422,"2006":1066,"2007":3349,"2008":3361,"2009":5874,"2010":5560,"2011":3979,"2012":5644,"2013":3901,"2014":3783,"2015":4695,"2016":1279},{"cil":"Švédsko","puvod":"Eritrea","1999":73,"2000":127,"2001":151,"2002":266,"2003":641,"2004":395,"2005":425,"2006":608,"2007":878,"2008":857,"2009":1000,"2010":1444,"2011":1649,"2012":2356,"2013":4844,"2014":11057,"2015":6513,"2016":744},{"cil":"Švédsko","puvod":"Írán","1999":854,"2000":739,"2001":780,"2002":762,"2003":787,"2004":660,"2005":582,"2006":494,"2007":485,"2008":799,"2009":1144,"2010":1183,"2011":1118,"2012":1529,"2013":1172,"2014":799,"2015":4281,"2016":935},{"cil":"Švédsko","puvod":"Bosna a Hercegovina","1999":486,"2000":4244,"2001":2774,"2002":2884,"2003":1396,"2004":785,"2005":387,"2006":234,"2007":217,"2008":150,"2009":129,"2010":123,"2011":981,"2012":1549,"2013":517,"2014":459,"2015":497,"2016":152},{"cil":"Švédsko","puvod":"Rusko","1999":449,"2000":590,"2001":841,"2002":1496,"2003":1361,"2004":1288,"2005":1057,"2006":755,"2007":788,"2008":933,"2009":1058,"2010":987,"2011":930,"2012":941,"2013":1036,"2014":712,"2015":497,"2016":261},{"cil":"Švédsko","puvod":"ostatní","1999":3034,"2000":4080,"2001":8100,"2002":14130,"2003":14618,"2004":12336,"2005":8555,"2006":9186,"2007":8382,"2008":8846,"2009":8605,"2010":9813,"2011":10676,"2012":14338,"2013":19107,"2014":20765,"2015":24288,"2016":8852},{"cil":"Švýcarsko","puvod":"Srbsko a Kosovo","1999":27996,"2000":3828,"2001":2672,"2002":2905,"2003":2296,"2004":1460,"2005":1113,"2006":979,"2007":763,"2008":991,"2009":1020,"2010":1358,"2011":1539,"2012":2084,"2013":826,"2014":471,"2015":608,"2016":342},{"cil":"Švýcarsko","puvod":"Eritrea","1999":158,"2000":88,"2001":74,"2002":219,"2003":249,"2004":193,"2005":175,"2006":880,"2007":1502,"2008":2827,"2009":1625,"2010":1708,"2011":3224,"2012":4295,"2013":2490,"2014":6820,"2015":9859,"2016":5040},{"cil":"Švýcarsko","puvod":"Afghánistán","1999":359,"2000":396,"2001":452,"2002":226,"2003":190,"2004":206,"2005":241,"2006":229,"2007":314,"2008":382,"2009":719,"2010":632,"2011":1006,"2012":1349,"2013":863,"2014":727,"2015":7800,"2016":3183},{"cil":"Švýcarsko","puvod":"Sýrie","1999":160,"2000":150,"2001":139,"2002":226,"2003":178,"2004":109,"2005":82,"2006":125,"2007":285,"2008":357,"2009":370,"2010":387,"2011":688,"2012":1146,"2013":1852,"2014":3768,"2015":4649,"2016":2040},{"cil":"Švýcarsko","puvod":"Nigérie","1999":148,"2000":237,"2001":380,"2002":1196,"2003":779,"2004":642,"2005":363,"2006":290,"2007":319,"2008":964,"2009":1725,"2010":1597,"2011":1303,"2012":2353,"2013":1574,"2014":848,"2015":906,"2016":1065},{"cil":"Švýcarsko","puvod":"Irák","1999":1580,"2000":884,"2001":1173,"2002":1149,"2003":1432,"2004":603,"2005":434,"2006":770,"2007":885,"2008":1321,"2009":801,"2010":501,"2011":378,"2012":382,"2013":351,"2014":279,"2015":2286,"2016":1251},{"cil":"Švýcarsko","puvod":"Srí Lanka","1999":1782,"2000":1359,"2001":1036,"2002":597,"2003":375,"2004":270,"2005":251,"2006":320,"2007":594,"2008":1194,"2009":1363,"2010":892,"2011":433,"2012":443,"2013":455,"2014":906,"2015":1777,"2016":1317},{"cil":"Švýcarsko","puvod":"Turecko","1999":1370,"2000":1349,"2001":1807,"2002":1777,"2003":1564,"2004":1065,"2005":669,"2006":612,"2007":550,"2008":461,"2009":475,"2010":462,"2011":508,"2012":515,"2013":373,"2014":264,"2015":387,"2016":475},{"cil":"Švýcarsko","puvod":"Somálsko","1999":619,"2000":602,"2001":479,"2002":447,"2003":500,"2004":635,"2005":543,"2006":331,"2007":431,"2008":1988,"2009":727,"2010":302,"2011":558,"2012":762,"2013":552,"2014":769,"2015":1214,"2016":1530},{"cil":"Švýcarsko","puvod":"ostatní","1999":10338,"2000":8813,"2001":11192,"2002":15688,"2003":11981,"2004":8290,"2005":5481,"2006":4778,"2007":3880,"2008":4693,"2009":5667,"2010":5682,"2011":9802,"2012":12619,"2013":10104,"2014":7261,"2015":7968,"2016":8952},{"cil":"Spojené království","puvod":"Afghánistán","1999":3985,"2000":5220,"2001":8920,"2002":8064,"2003":2591,"2004":1605,"2005":1773,"2006":2648,"2007":2815,"2008":3731,"2009":3533,"2010":1835,"2011":1529,"2012":1234,"2013":1456,"2014":1753,"2015":2852,"2016":3099},{"cil":"Spojené království","puvod":"Írán","1999":1325,"2000":5170,"2001":3420,"2002":3370,"2003":3497,"2004":3992,"2005":3480,"2006":2673,"2007":2509,"2008":2585,"2009":2127,"2010":2209,"2011":3051,"2012":3155,"2013":2967,"2014":2499,"2015":3716,"2016":4780},{"cil":"Spojené království","puvod":"Pákistán","1999":2610,"2000":2825,"2001":2860,"2002":3779,"2003":3143,"2004":3028,"2005":2258,"2006":1807,"2007":1765,"2008":2011,"2009":2036,"2010":2116,"2011":4005,"2012":4783,"2013":4576,"2014":3976,"2015":3365,"2016":3701},{"cil":"Spojené království","puvod":"Irák","1999":1795,"2000":7080,"2001":6685,"2002":15637,"2003":4288,"2004":1878,"2005":1605,"2006":1304,"2007":2074,"2008":2030,"2009":992,"2010":477,"2011":377,"2012":411,"2013":450,"2014":911,"2015":2648,"2016":3644},{"cil":"Spojené království","puvod":"Somálsko","1999":7500,"2000":4795,"2001":6420,"2002":9425,"2003":7194,"2004":3295,"2005":2099,"2006":2157,"2007":1962,"2008":1576,"2009":1078,"2010":675,"2011":660,"2012":663,"2013":520,"2014":412,"2015":437,"2016":391},{"cil":"Spojené království","puvod":"Zimbabwe","1999":230,"2000":460,"2001":2135,"2002":8695,"2003":4018,"2004":2522,"2005":1355,"2006":2097,"2007":2302,"2008":4330,"2009":7422,"2010":1910,"2011":757,"2012":512,"2013":426,"2014":356,"2015":353,"2016":298},{"cil":"Spojené království","puvod":"Srí Lanka","1999":5130,"2000":6040,"2001":5510,"2002":3486,"2003":810,"2004":402,"2005":478,"2006":599,"2007":1248,"2008":1840,"2009":1428,"2010":1623,"2011":2142,"2012":2128,"2013":2278,"2014":1715,"2015":1411,"2016":1233},{"cil":"Spojené království","puvod":"Čína","1999":2650,"2000":3845,"2001":2395,"2002":3726,"2003":3493,"2004":2411,"2005":1761,"2006":1968,"2007":2187,"2008":1491,"2009":1417,"2010":1216,"2011":1026,"2012":859,"2013":1086,"2014":1117,"2015":770,"2016":906},{"cil":"Spojené království","puvod":"Srbsko a Kosovo","1999":14375,"2000":7610,"2001":3230,"2002":2908,"2003":1133,"2004":405,"2005":192,"2006":111,"2007":93,"2008":82,"2009":38,"2010":32,"2011":26,"2012":38,"2013":36,"2014":31,"2015":24,"2016":24},{"cil":"Spojené království","puvod":"ostatní","1999":31795,"2000":33435,"2001":29235,"2002":43990,"2003":29880,"2004":21085,"2005":15458,"2006":12485,"2007":10948,"2008":10871,"2009":9769,"2010":9992,"2011":12325,"2012":13627,"2013":16080,"2014":19574,"2015":23450,"2016":19294},{"cil":"Kypr","puvod":"Sýrie","1999":null,"2000":null,"2001":46,"2002":10,"2003":37,"2004":547,"2005":1205,"2006":1255,"2007":1752,"2008":963,"2009":224,"2010":96,"2011":187,"2012":564,"2013":562,"2014":984,"2015":908,"2016":1157},{"cil":"Kypr","puvod":"Bangladéš","1999":null,"2000":null,"2001":4,"2002":null,"2003":2077,"2004":2410,"2005":498,"2006":310,"2007":264,"2008":178,"2009":165,"2010":148,"2011":182,"2012":188,"2013":106,"2014":69,"2015":20,"2016":130},{"cil":"Kypr","puvod":"Pákistán","1999":null,"2000":null,"2001":124,"2002":71,"2003":481,"2004":1327,"2005":596,"2006":268,"2007":339,"2008":221,"2009":212,"2010":155,"2011":148,"2012":108,"2013":54,"2014":68,"2015":114,"2016":203},{"cil":"Kypr","puvod":"Írán","1999":null,"2000":null,"2001":626,"2002":387,"2003":465,"2004":668,"2005":569,"2006":305,"2007":475,"2008":213,"2009":171,"2010":118,"2011":68,"2012":43,"2013":22,"2014":33,"2015":7,"2016":30},{"cil":"Kypr","puvod":"Srí Lanka","1999":null,"2000":null,"2001":20,"2002":5,"2003":5,"2004":497,"2005":806,"2006":389,"2007":661,"2008":408,"2009":248,"2010":187,"2011":114,"2012":58,"2013":50,"2014":49,"2015":31,"2016":64},{"cil":"Kypr","puvod":"Palestina","1999":null,"2000":null,"2001":32,"2002":167,"2003":209,"2004":241,"2005":244,"2006":35,"2007":1018,"2008":391,"2009":493,"2010":53,"2011":21,"2012":5,"2013":8,"2014":5,"2015":165,"2016":25},{"cil":"Kypr","puvod":"Indie","1999":null,"2000":null,"2001":7,"2002":9,"2003":19,"2004":538,"2005":332,"2006":253,"2007":294,"2008":232,"2009":303,"2010":318,"2011":134,"2012":64,"2013":36,"2014":81,"2015":87,"2016":198},{"cil":"Kypr","puvod":"Gruzie","1999":null,"2000":null,"2001":24,"2002":19,"2003":178,"2004":759,"2005":886,"2006":336,"2007":352,"2008":122,"2009":73,"2010":41,"2011":17,"2012":10,"2013":1,"2014":8,"2015":0,"2016":5},{"cil":"Kypr","puvod":"Ukrajina","1999":null,"2000":null,"2001":22,"2002":19,"2003":91,"2004":868,"2005":587,"2006":144,"2007":59,"2008":16,"2009":25,"2010":10,"2011":9,"2012":5,"2013":1,"2014":94,"2015":58,"2016":11},{"cil":"Kypr","puvod":"ostatní","1999":null,"2000":null,"2001":715,"2002":266,"2003":849,"2004":2004,"2005":2045,"2006":1250,"2007":1575,"2008":1178,"2009":1281,"2010":1733,"2011":885,"2012":585,"2013":406,"2014":339,"2015":417,"2016":681}]
var vybrano='Česko';var cile=data.map(function(d){return d['cil'];}).filter(onlyUnique).sort()
function checkSelect(){var d=document.getElementById('vyberZeme').value;switch(d){case'belgie':vybrano='Belgie';nakresliGraf();break;case'bulharsko':vybrano='Bulharsko';nakresliGraf();break;case'cesko':vybrano='Česko';nakresliGraf();break;case'dansko':vybrano='Dánsko';nakresliGraf();break;case'finsko':vybrano='Finsko';nakresliGraf();break;case'francie':vybrano='Francie';nakresliGraf();break;case'irsko':vybrano='Irsko';nakresliGraf();break;case'italie':vybrano='Itálie';nakresliGraf();break;case'kypr':vybrano='Kypr';nakresliGraf();break;case'lucembursko':vybrano='Lucembursko';nakresliGraf();break;case'madarsko':vybrano='Maďarsko';nakresliGraf();break;case'malta':vybrano='Malta';nakresliGraf();break;case'nemecko':vybrano='Německo';nakresliGraf();break;case'nizozemsko':vybrano='Nizozemsko';nakresliGraf();break;case'norsko':vybrano='Norsko';nakresliGraf();break;case'polsko':vybrano='Polsko';nakresliGraf();break;case'rakousko':vybrano='Rakousko';nakresliGraf();break;case'rumunsko':vybrano='Rumunsko';nakresliGraf();break;case'recko':vybrano='Řecko';nakresliGraf();break;case'slovensko':vybrano='Slovensko';nakresliGraf();break;case'slovinsko':vybrano='Slovinsko';nakresliGraf();break;case'uk':vybrano='Spojené království';nakresliGraf();break;case'srbsko':vybrano='Srbsko a Kosovo';nakresliGraf();break;case'spanelsko':vybrano='Španělsko';nakresliGraf();break;case'svedsko':vybrano='Švédsko';nakresliGraf();break;case'svycarsko':vybrano='Švýcarsko';nakresliGraf();break;};}
function onlyUnique(value,index,self){return self.indexOf(value)===index;}
function nakresliGraf(){var cil=data.filter(function(d){return d.cil==vybrano;})
var zeme=cil.map(function(d){return d['puvod'];});var serie=[];for(var i=0;i<=9;i++){var serieObj=cil.filter(function(d){return d.puvod==zeme[i];})[0]
serie[i]=Object.keys(serieObj).map(function(key){return serieObj[key];});serie[i]=serie[i].slice(0,18)}
$(function(){Highcharts.setOptions({chart:{style:{fontFamily:'Roboto'}},lang:{months:['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],weekdays:['neděle','pondělí','úterý','středa','čtvrtek','pátek','sobota'],shortMonths:['leden','únor','březen','duben','květen','červen','červenec','srpen','září','říjen','listopad','prosinec'],thousandsSep:'',decimalPoint:',',rangeSelectorZoom:'Zobrazit'}});$(function(){$('#container').highcharts({chart:{type:'column'},title:{text:'Žadatelé o azyl: '+vybrano},xAxis:{categories:[1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016],title:{text:'Původ žadatelů'}},yAxis:{min:0,title:{text:'Žadatelé o azyl',}},tooltip:{formatter:function(){return'<b>'+this.series.name+' → '+vybrano+'</b>: '+this.y+' žadatelů o azyl'}},exporting:{enabled:false},credits:{href:'http://popstats.unhcr.org',text:'Zdroj: Agentura OSN pro uprchlíky'},plotOptions:{column:{stacking:'normal',borderWidth:0}},series:[{name:zeme[0],data:serie[0],color:colors[0]},{name:zeme[1],data:serie[1],color:colors[1]},{name:zeme[2],data:serie[2],color:colors[2]},{name:zeme[3],data:serie[3],color:colors[3]},{name:zeme[4],data:serie[4],color:colors[4]},{name:zeme[5],data:serie[5],color:colors[5]},{name:zeme[6],data:serie[6],color:colors[6]},{name:zeme[7],data:serie[7],color:colors[7]},{name:zeme[8],data:serie[8],color:colors[8]},{name:zeme[9],data:serie[9],color:colors[9]}]});})});}
nakresliGraf();</script>
